@CHARSET "UTF-8";

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    background: url('../img/main-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color:#fff;
    padding:0;
    margin: 0;
    height: 100%;
}

img{
    margin: 0;
    padding: 0;
    border: 0;
}

a, a:active, a:focus {
    outline: none;
    text-decoration: none;
}

::-webkit-input-placeholder {
    color: #606871;
}

:-moz-placeholder {
    color: #606871;
}

::-moz-placeholder {
    color: #606871;
}

:-ms-input-placeholder {
    color: #606871;
}

.clear{
    display: block;
    width: 100%;
    height: 0;
    clear: both;
    overflow: hidden;
}

.left{
    float: left;
}

.right{
    float: right;
}










.main-wrapper{
    width: 1045px;
    margin: 0 auto;
}

.header{
    float: left;
    width: 100%;
    height: 100px;
    border-top: 2px solid #dadde4;
    position: relative;
    background: #58595a;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU4NTk1YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzI1MjgyYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYzJlMzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #58595a 0%, #25282a 50%, #2c2e30 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#58595a), color-stop(50%,#25282a), color-stop(100%,#2c2e30));
    background: -webkit-linear-gradient(top,  #58595a 0%,#25282a 50%,#2c2e30 100%);
    background: -o-linear-gradient(top,  #58595a 0%,#25282a 50%,#2c2e30 100%);
    background: -ms-linear-gradient(top,  #58595a 0%,#25282a 50%,#2c2e30 100%);
    background: linear-gradient(to bottom,  #58595a 0%,#25282a 50%,#2c2e30 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58595a', endColorstr='#2c2e30',GradientType=0 );
}

.logo{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 12px;
}


/* login form */

.login-form{
    float: right;
    width: 280px;
    margin: 10px 12px 0 2px;
}

fieldset{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    overflow: hidden;
}

input[type="text"], input[type="password"], input[type="number"]{
    border: 0;
    outline: 0;
    background: #a0a7b3;
    -webkit-box-shadow:inset 0 1px 1px 1px rgba(0,0,0,0.4);
    box-shadow:inset 0 1px 1px 1px rgba(0,0,0,0.4);
    color: #000;
    height: 25px;
    border-radius: 3px;
    padding: 0 8px;
    font-size: 11px;
    font-weight: 300;
}

button{
    border: 0;
    outline: 0;
    cursor: pointer;
}

.btn-gray{
    font-family: 'Roboto', sans-serif !important;
    font-size: 11px;!important;
    border-top: 1px solid #a3a297;
    border-bottom: 1px solid #656669;
    color: #fff;
    height: 25px;
    border-radius: 3px;
    padding: 0 14px;
    font-size: 11px;
    background: #747c81;
    background: -moz-linear-gradient(top,  #747c81 0%, #535d65 50%, #535d65 50%, #434e57 50%, #4f5961 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#747c81), color-stop(50%,#535d65), color-stop(50%,#535d65), color-stop(50%,#434e57), color-stop(100%,#4f5961));
    background: -webkit-linear-gradient(top,  #747c81 0%,#535d65 50%,#535d65 50%,#434e57 50%,#4f5961 100%);
    background: -o-linear-gradient(top,  #747c81 0%,#535d65 50%,#535d65 50%,#434e57 50%,#4f5961 100%);
    background: -ms-linear-gradient(top,  #747c81 0%,#535d65 50%,#535d65 50%,#434e57 50%,#4f5961 100%);
    background: linear-gradient(to bottom,  #747c81 0%,#535d65 50%,#535d65 50%,#434e57 50%,#4f5961 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#747c81', endColorstr='#4f5961',GradientType=0 );
}

.btn-gray:hover{
    background: #4f5961;
}

/*.btn-green{
    font-family: 'Roboto', sans-serif !important;
    font-size: 11px !important;
    border-top: 1px solid #a3a297;
    color: #fff;
    height: 25px;
    border-radius: 3px;
    padding: 0 14px;
    background: #64ac6f;
    background: -moz-linear-gradient(top,  #64ac6f 0%, #48975c 50%, #398d4f 50%, #409254 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64ac6f), color-stop(50%,#48975c), color-stop(50%,#398d4f), color-stop(100%,#409254));
    background: -webkit-linear-gradient(top,  #64ac6f 0%,#48975c 50%,#398d4f 50%,#409254 100%);
    background: -o-linear-gradient(top,  #64ac6f 0%,#48975c 50%,#398d4f 50%,#409254 100%);
    background: -ms-linear-gradient(top,  #64ac6f 0%,#48975c 50%,#398d4f 50%,#409254 100%);
    background: linear-gradient(to bottom,  #64ac6f 0%,#48975c 50%,#398d4f 50%,#409254 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64ac6f', endColorstr='#409254',GradientType=0 );
}

.btn-green:hover{
    background: #409254;
}*/

/*.btn-yellow{
    font-family: 'Roboto', sans-serif !important;
    font-size: 11px !important;
    border-top: 1px solid #d9be7c;
    font-weight: 500;
    color: #181818;
    height: 25px;
    border-radius: 3px;
    padding: 0 14px;
    background: #d9be7c;
    background: -moz-linear-gradient(top,  #d9be7c 0%, #d0ae5e 50%, #cca74f 50%, #cfac5a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9be7c), color-stop(50%,#d0ae5e), color-stop(50%,#cca74f), color-stop(100%,#cfac5a));
    background: -webkit-linear-gradient(top,  #d9be7c 0%,#d0ae5e 50%,#cca74f 50%,#cfac5a 100%);
    background: -o-linear-gradient(top,  #d9be7c 0%,#d0ae5e 50%,#cca74f 50%,#cfac5a 100%);
    background: -ms-linear-gradient(top,  #d9be7c 0%,#d0ae5e 50%,#cca74f 50%,#cfac5a 100%);
    background: linear-gradient(to bottom,  #d9be7c 0%,#d0ae5e 50%,#cca74f 50%,#cfac5a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9be7c', endColorstr='#cfac5a',GradientType=0 );
}

.btn-yellow:hover{
    background: #d9be7c;
}
*/
a.btn-gray {
    padding: 5px 14px;
}

.login-form input[type="text"], .login-form input[type="password"]{
    float: left;
    margin: 0 2px 0 0;
    width: 95px;
}

.login-form .btn-gray{
    float: left;
    max-width: 54px;
}

a.forgot{
    color: #b1b9c6;
    font-weight: 300;
    float: right;
    margin: 4px 0 0 0;
    font-size: 10px;
}

a.forgot:hover{
    color: #fff;
}

/* eof login form */


/* language list */

.language-list{
    padding: 0;
    float: right;
    margin: 10px 0 0 0;
    list-style: none;
    position: relative;
    z-index: 5;
    overflow: hidden;
    width: 100px;
    height: 25px;
    border-top: 1px solid #a3a297;
    border-bottom: 1px solid #656669;
    border-radius: 3px;
    background: #747c81;
    background: -moz-linear-gradient(top,  #747c81 0%, #535d65 50%, #535d65 50%, #434e57 50%, #4f5961 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#747c81), color-stop(50%,#535d65), color-stop(50%,#535d65), color-stop(50%,#434e57), color-stop(100%,#4f5961));
    background: -webkit-linear-gradient(top,  #747c81 0%,#535d65 50%,#535d65 50%,#434e57 50%,#4f5961 100%);
    background: -o-linear-gradient(top,  #747c81 0%,#535d65 50%,#535d65 50%,#434e57 50%,#4f5961 100%);
    background: -ms-linear-gradient(top,  #747c81 0%,#535d65 50%,#535d65 50%,#434e57 50%,#4f5961 100%);
    background: linear-gradient(to bottom,  #747c81 0%,#535d65 50%,#535d65 50%,#434e57 50%,#4f5961 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#747c81', endColorstr='#4f5961',GradientType=0 );
}

.language-list li{
    color: #fff;
    position: relative;
}

.language-list li a{
    padding: 5px 15px 6px 6px;
    display: block;
    color: #fff;
    position: relative;
    z-index: 4;
    font-size: 11px;
}

.language-list li a span{
    display: block;
    width: 16px;
    height: 11px;
    overflow: hidden;
    background: url('../img/sprite.png') no-repeat;
    float: left;
    margin: 1px 5px 0 0;
    cursor: pointer;
    position: relative;
    z-index: 5;
}

.language-list .en span{
    background-position: -10px -25px;
}

.language-list .de span{
    background-position: -10px -36px;
}

.language-list .tr span{
    background-position: -10px -47px;
}

.language-list .nl span{
    background-position: -10px -58px;
}

.language-list .fr span{
    background-position: -10px -69px;
}

.language-list .es span{
    background-position: -10px -70px;
}

.language-list .ru span{
    background-position: -10px -81px;
}

.language-list .gr span{
    background-position: -10px -92px;
}

.language-list .arrow{
    width: 6px;
    height: 5px;
    overflow: hidden;
    background: url('../img/sprite.png') no-repeat -10px -10px;
    position: absolute;
    top: 10px;
    right: 7px;
    z-index: 5;
    display: block;
}

.language-list.active{
    height: auto;
    background: #747c81;
}

.language-list.active li a:hover{
    background: #535d65;
}


/* main nav */

.main-navigation-wrapper{
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    width: 100%;
}

.main-navigation{
    float: right;
    width: 100%;
    position: relative;
}

.main-navigation ul{
    margin: 0 230px 6px 0;
    list-style: none;
    text-align: center;
    float: right;
}

.main-navigation li{
    float: left;
    margin: 5px 1px 0 0;
}

.main-navigation li .line{
    width: 100%;
    height: 6px;
    position: absolute;
    display: block;
    bottom: 0px;
    left: 0px;
}

.main-navigation li a{
    font-weight:500;
    font-size: 11px;
    text-transform: uppercase;
    color: #dcdcdc;
    padding: 7px 16px;
    display: block;
    border-top: 1px solid #a3a297;
    background: #636567;
    background: -moz-linear-gradient(top,  #636567 0%, #3d4045 50%, #3d4045 50%, #2c2f32 51%, #373a3e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#636567), color-stop(50%,#3d4045), color-stop(50%,#3d4045), color-stop(51%,#2c2f32), color-stop(100%,#373a3e));
    background: -webkit-linear-gradient(top,  #636567 0%,#3d4045 50%,#3d4045 50%,#2c2f32 51%,#373a3e 100%);
    background: -o-linear-gradient(top,  #636567 0%,#3d4045 50%,#3d4045 50%,#2c2f32 51%,#373a3e 100%);
    background: -ms-linear-gradient(top,  #636567 0%,#3d4045 50%,#3d4045 50%,#2c2f32 51%,#373a3e 100%);
    background: linear-gradient(to bottom,  #636567 0%,#3d4045 50%,#3d4045 50%,#2c2f32 51%,#373a3e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#636567', endColorstr='#373a3e',GradientType=0 );
    border-radius: 3px 3px 0 0;
}

.main-navigation li.register{
    position: absolute;
    right: 11px;
    width: auto;
    margin: 5px 1px 0 0
}

.main-navigation li.register a{
    border-top: 1px solid #d9be7c;
    color: #181818;
    background: #d9be7c;
    background: -moz-linear-gradient(top,  #d9be7c 0%, #d0ae5e 50%, #cca74f 50%, #cfac5a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9be7c), color-stop(50%,#d0ae5e), color-stop(50%,#cca74f), color-stop(100%,#cfac5a));
    background: -webkit-linear-gradient(top,  #d9be7c 0%,#d0ae5e 50%,#cca74f 50%,#cfac5a 100%);
    background: -o-linear-gradient(top,  #d9be7c 0%,#d0ae5e 50%,#cca74f 50%,#cfac5a 100%);
    background: -ms-linear-gradient(top,  #d9be7c 0%,#d0ae5e 50%,#cca74f 50%,#cfac5a 100%);
    background: linear-gradient(to bottom,  #d9be7c 0%,#d0ae5e 50%,#cca74f 50%,#cfac5a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9be7c', endColorstr='#cfac5a',GradientType=0 );

}

.main-navigation li a:hover{
    color: #fff;
}

.main-navigation li.active{
    margin-top: 0;
}

.main-navigation li.active a{
    padding-top: 12px;
}

.main-navigation li.green .line{
    background: #409254;
}

.main-navigation li.green.active a{
    border-top: 1px solid #2eda93;
    background: #64ac6f;
    background: -moz-linear-gradient(top,  #64ac6f 0%, #48975c 50%, #398d4f 50%, #409254 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64ac6f), color-stop(50%,#48975c), color-stop(50%,#398d4f), color-stop(100%,#409254));
    background: -webkit-linear-gradient(top,  #64ac6f 0%,#48975c 50%,#398d4f 50%,#409254 100%);
    background: -o-linear-gradient(top,  #64ac6f 0%,#48975c 50%,#398d4f 50%,#409254 100%);
    background: -ms-linear-gradient(top,  #64ac6f 0%,#48975c 50%,#398d4f 50%,#409254 100%);
    background: linear-gradient(to bottom,  #64ac6f 0%,#48975c 50%,#398d4f 50%,#409254 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64ac6f', endColorstr='#409254',GradientType=0 );
}

.main-navigation li.blue .line{
    background: #0c5892;
}

.main-navigation li.blue.active a{
    border-top: 1px solid #30b0da;
    background: #52839f;
    background: -moz-linear-gradient(top,  #52839f 0%, #3a6687 50%, #2b5a7d 50%, #0c5892 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52839f), color-stop(50%,#3a6687), color-stop(50%,#2b5a7d), color-stop(100%,#0c5892));
    background: -webkit-linear-gradient(top,  #52839f 0%,#3a6687 50%,#2b5a7d 50%,#0c5892 100%);
    background: -o-linear-gradient(top,  #52839f 0%,#3a6687 50%,#2b5a7d 50%,#0c5892 100%);
    background: -ms-linear-gradient(top,  #52839f 0%,#3a6687 50%,#2b5a7d 50%,#0c5892 100%);
    background: linear-gradient(to bottom,  #52839f 0%,#3a6687 50%,#2b5a7d 50%,#0c5892 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52839f', endColorstr='#0c5892',GradientType=0 );
}

/* eof main nav */



/* content */

.content{
    float: left;
    width: 815px;
    min-height: 700px;
    background: #0d0f0b;
}

.content.content-full{
    float: left;
    width: 1045px;
    padding: 20px 37px;
}

.game-tabs{
    margin: 0;
    list-style: none;
    border-top: solid 2px #101010;
    padding: 0 0 0 12px;
    display: block;
    float: left;
}

.game-tabs li {
    float: left;
    height: 75px;
    width: 47px;
    border-left: solid 1px #101010;
    text-align: center;
    font-size: 10px;
    color: #89898b;
    background: #222329;
    background: -moz-linear-gradient(top,  #2a2b32 0%, #111214 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a2b32), color-stop(100%,#111214));
    background: -webkit-linear-gradient(top,  #2a2b32 0%,#111214 100%);
    background: -o-linear-gradient(top,  #2a2b32 0%,#111214 100%);
    background: -ms-linear-gradient(top,  #2a2b32 0%,#111214 100%);
    background: linear-gradient(to bottom,  #2a2b32 0%,#111214 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2b32', endColorstr='#111214',GradientType=0 );
    cursor: pointer;
}

.game-tabs li.active, .game-tabs li:hover{
    background: #696c76;
    background: -moz-linear-gradient(top,  #696c76 0%, #25272f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#696c76), color-stop(100%,#25272f));
    background: -webkit-linear-gradient(top,  #696c76 0%,#25272f 100%);
    background: -o-linear-gradient(top,  #696c76 0%,#25272f 100%);
    background: -ms-linear-gradient(top,  #696c76 0%,#25272f 100%);
    background: linear-gradient(to bottom,  #696c76 0%,#25272f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696c76', endColorstr='#25272f',GradientType=0 );
    color: #fff;
}

.game-tabs .ico {
    display: block;
    width: 45px;
    height: 49px;
    text-align: center;
    overflow: hidden;
    clear: both;
    display: table-cell;
    vertical-align: middle;
    padding: 0 4px;
}

.game-tabs em {
    color: #c6ccde;
    font-size: 9px;
    display: block;
    font-style: normal;
}

/* eof content */


/* sidebar */

.sidebar{
    float: left;
    width: 230px;
    background: rgba(134,134,134,0.9);
    min-height: 700px;
}

.ui-accordion .ui-accordion-header{
    font-size: 13px;
    font-weight: 500;
    color: #000;
    font-family: 'Roboto', sans-serif;
    background: #a7b0ae;
    background: -moz-linear-gradient(top,  #a7b0ae 0%, #979ba3 50%, #8d929a 50%, #9398a0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7b0ae), color-stop(50%,#979ba3), color-stop(50%,#8d929a), color-stop(100%,#9398a0));
    background: -webkit-linear-gradient(top,  #a7b0ae 0%,#979ba3 50%,#8d929a 50%,#9398a0 100%);
    background: -o-linear-gradient(top,  #a7b0ae 0%,#979ba3 50%,#8d929a 50%,#9398a0 100%);
    background: -ms-linear-gradient(top,  #a7b0ae 0%,#979ba3 50%,#8d929a 50%,#9398a0 100%);
    background: linear-gradient(to bottom,  #a7b0ae 0%,#979ba3 50%,#8d929a 50%,#9398a0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7b0ae', endColorstr='#9398a0',GradientType=0 );
    border: 0;
    border-radius: 0;
    padding: 12px 10px 12px 28px;
    outline: 0;
    margin-top: 0px;
}

.ui-accordion .ui-accordion-content{
    background: none;
    border-radius: 0;
    border-bottom: 1px solid #000000;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    padding: 10px;
}

.ticket-date{
    font-weight: 400;
    float: right;
}

.bet-legend{
    list-style: none;
    margin: 0;
    padding: 0;
}

.bet-legend li{
    list-style: none;
    color: #000;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    margin: 0 0 14px 0;
    float: left;
    width: 100%;
}

.bet-legend li span{
    float: left;
    width: 178px;
    margin: 6px 0 0 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bet-legend .legend-ico{
    width: 25px;
    height: 25px;
    border-radius: 3px;
    float: left;
    font-size: 11px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    margin: 0 2px 0 0;
    padding: 6px 0;
}

.legend-ico.match-possible{
    background: #64ac6f;
    background: -moz-linear-gradient(top,  #64ac6f 0%, #48975c 50%, #398d4f 50%, #409254 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64ac6f), color-stop(50%,#48975c), color-stop(50%,#398d4f), color-stop(100%,#409254));
    background: -webkit-linear-gradient(top,  #64ac6f 0%,#48975c 50%,#398d4f 50%,#409254 100%);
    background: -o-linear-gradient(top,  #64ac6f 0%,#48975c 50%,#398d4f 50%,#409254 100%);
    background: -ms-linear-gradient(top,  #64ac6f 0%,#48975c 50%,#398d4f 50%,#409254 100%);
    background: linear-gradient(to bottom,  #64ac6f 0%,#48975c 50%,#398d4f 50%,#409254 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64ac6f', endColorstr='#409254',GradientType=0 );
}

.legend-ico.match-before{
    background: #597287;
    background: -moz-linear-gradient(top,  #597287 0%, #3d5169 50%, #2c415b 50%, #374c64 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#597287), color-stop(50%,#3d5169), color-stop(50%,#2c415b), color-stop(100%,#374c64));
    background: -webkit-linear-gradient(top,  #597287 0%,#3d5169 50%,#2c415b 50%,#374c64 100%);
    background: -o-linear-gradient(top,  #597287 0%,#3d5169 50%,#2c415b 50%,#374c64 100%);
    background: -ms-linear-gradient(top,  #597287 0%,#3d5169 50%,#2c415b 50%,#374c64 100%);
    background: linear-gradient(to bottom,  #597287 0%,#3d5169 50%,#2c415b 50%,#374c64 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#597287', endColorstr='#374c64',GradientType=0 );

}

.legend-ico.match-statistics{
    background: #5a646b;
    background: -moz-linear-gradient(top,  #5a646b 0%, #444f58 50%, #3a454e 50%, #414c54 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5a646b), color-stop(50%,#444f58), color-stop(50%,#3a454e), color-stop(100%,#414c54));
    background: -webkit-linear-gradient(top,  #5a646b 0%,#444f58 50%,#3a454e 50%,#414c54 100%);
    background: -o-linear-gradient(top,  #5a646b 0%,#444f58 50%,#3a454e 50%,#414c54 100%);
    background: -ms-linear-gradient(top,  #5a646b 0%,#444f58 50%,#3a454e 50%,#414c54 100%);
    background: linear-gradient(to bottom,  #5a646b 0%,#444f58 50%,#3a454e 50%,#414c54 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a646b', endColorstr='#414c54',GradientType=0 );

}

.legend-ico.match-odd{
    background: #f3bd53;
    background: -moz-linear-gradient(top,  #f3bd53 0%, #f1aa3c 50%, #efa229 50%, #f0a735 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3bd53), color-stop(50%,#f1aa3c), color-stop(50%,#efa229), color-stop(100%,#f0a735));
    background: -webkit-linear-gradient(top,  #f3bd53 0%,#f1aa3c 50%,#efa229 50%,#f0a735 100%);
    background: -o-linear-gradient(top,  #f3bd53 0%,#f1aa3c 50%,#efa229 50%,#f0a735 100%);
    background: -ms-linear-gradient(top,  #f3bd53 0%,#f1aa3c 50%,#efa229 50%,#f0a735 100%);
    background: linear-gradient(to bottom,  #f3bd53 0%,#f1aa3c 50%,#efa229 50%,#f0a735 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3bd53', endColorstr='#f0a735',GradientType=0 );

}

.legend-ico.match-other-odds{
    background: #64ac6f;
    background: -moz-linear-gradient(top,  #64ac6f 0%, #48975c 50%, #398d4f 50%, #409254 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64ac6f), color-stop(50%,#48975c), color-stop(50%,#398d4f), color-stop(100%,#409254));
    background: -webkit-linear-gradient(top,  #64ac6f 0%,#48975c 50%,#398d4f 50%,#409254 100%);
    background: -o-linear-gradient(top,  #64ac6f 0%,#48975c 50%,#398d4f 50%,#409254 100%);
    background: -ms-linear-gradient(top,  #64ac6f 0%,#48975c 50%,#398d4f 50%,#409254 100%);
    background: linear-gradient(to bottom,  #64ac6f 0%,#48975c 50%,#398d4f 50%,#409254 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64ac6f', endColorstr='#409254',GradientType=0 );
}

.legend-ico.match-blocked{
    background: #64ac6f;
    background: -moz-linear-gradient(top,  #64ac6f 0%, #48975c 50%, #398d4f 50%, #409254 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64ac6f), color-stop(50%,#48975c), color-stop(50%,#398d4f), color-stop(100%,#409254));
    background: -webkit-linear-gradient(top,  #64ac6f 0%,#48975c 50%,#398d4f 50%,#409254 100%);
    background: -o-linear-gradient(top,  #64ac6f 0%,#48975c 50%,#398d4f 50%,#409254 100%);
    background: -ms-linear-gradient(top,  #64ac6f 0%,#48975c 50%,#398d4f 50%,#409254 100%);
    background: linear-gradient(to bottom,  #64ac6f 0%,#48975c 50%,#398d4f 50%,#409254 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64ac6f', endColorstr='#409254',GradientType=0 );
}

.ico-statistics{
    width: 14px;
    height: 13px;
    background: url('../img/sprite.png') no-repeat -36px -10px;
    display: inline-block;
}

.ico-blocked{
    width: 8px;
    height: 12px;
    background: url('../img/sprite.png') no-repeat -37px -33px;
    display: inline-block;
}


/* ticket sidebar */

.game-box {
    background: none;
    float: left;
    width: 100%;
    margin: 0 0 10px 0;
    font-size: 10px;
    color: #000;
}

.game-box .title {
    font-size: 11px;
    clear: both;
    overflow: hidden;
    padding: 0;
    margin: 0 0 5px 0;
    font-weight: 500;
    position: relative;
    float: left;
    width: 100%;
}

.small-ball-ico{
    width: 12px;
    height: 12px;
    background: url('../img/sprite.png') no-repeat -37px -55px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.game-box .title .teams{
    padding: 0 0 0 15px;
    float: left;
    font-weight: 600;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.game-box .ticket-result{
    float: left;
    margin-bottom: 3px;
}

.game-box .ticket-time{
    float: right;
    margin-bottom: 3px;
}

.game-box .line {
    clear: both;
    border-top: solid 1px #454746;
    border-bottom: solid 1px #454746;
    background: #908f8d;
    padding: 4px 30px 4px 7px;
    margin: -1px 0 0 0;
    font-weight: 700;
    line-height: 20px;
    position: relative;
    margin-left: -10px;
    margin-right: -10px;
    float: left;
    width: 230px;
}

.game-box .bet_type_wrapper {
    width: 190px;
    float: left;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
}

.game-box .btn {
    display: block;
    float: left;
    width: 22px;
    height: 22px;
    border: 1px solid #707577;
    border-radius: 3px;
    margin: 0 10px 0 0;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    line-height: 21px;
    text-align: center;
    cursor: pointer;
    background: #bbc2c8;
    background: -moz-linear-gradient(top,  #bbc2c8 0%, #b0b3ba 50%, #a9adb4 50%, #adb1b8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bbc2c8), color-stop(50%,#b0b3ba), color-stop(50%,#a9adb4), color-stop(100%,#adb1b8));
    background: -webkit-linear-gradient(top,  #bbc2c8 0%,#b0b3ba 50%,#a9adb4 50%,#adb1b8 100%);
    background: -o-linear-gradient(top,  #bbc2c8 0%,#b0b3ba 50%,#a9adb4 50%,#adb1b8 100%);
    background: -ms-linear-gradient(top,  #bbc2c8 0%,#b0b3ba 50%,#a9adb4 50%,#adb1b8 100%);
    background: linear-gradient(to bottom,  #bbc2c8 0%,#b0b3ba 50%,#a9adb4 50%,#adb1b8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbc2c8', endColorstr='#adb1b8',GradientType=0 );
    color: #000;
    text-transform: uppercase;
}

.game-box .btn.active, .game-box .btn:hover{
    background: #d9be7c;
    background: -moz-linear-gradient(top,  #d9be7c 0%, #d0ae5e 50%, #cca74f 50%, #cfac5a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9be7c), color-stop(50%,#d0ae5e), color-stop(50%,#cca74f), color-stop(100%,#cfac5a));
    background: -webkit-linear-gradient(top,  #d9be7c 0%,#d0ae5e 50%,#cca74f 50%,#cfac5a 100%);
    background: -o-linear-gradient(top,  #d9be7c 0%,#d0ae5e 50%,#cca74f 50%,#cfac5a 100%);
    background: -ms-linear-gradient(top,  #d9be7c 0%,#d0ae5e 50%,#cca74f 50%,#cfac5a 100%);
    background: linear-gradient(to bottom,  #d9be7c 0%,#d0ae5e 50%,#cca74f 50%,#cfac5a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9be7c', endColorstr='#cfac5a',GradientType=0 );
}

.game-box .name {
    width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    margin-top: 2px;
}

.game-box .count {
    display: block;
    float: right;
    position: relative;
    margin-top: 2px;
}

.game-box .delete_bet {
    display: block;
    position: absolute;
    top: 4px;
    right: 7px;
    width: 22px;
    height: 22px;
    border: 1px solid #6a7376;
    border-radius: 2px;
    cursor: pointer;
    background: none;
    padding: 1px;
    text-align: center;
}

.game-box .delete_bet:hover{
    background: #bbc1c7;
}

.ico-delete{
    width: 10px;
    height: 10px;
    background: url('../img/sprite.png') no-repeat -38px -77px;
    display: inline-block;
}

.ticket-info{
    float: left;
    width: 100%;
    font-size: 10px;
    color: #000;
}

.ticket-info table{
    width: 100%;
}

.ticket-system{
    float: left;
    width: 100%;
    margin: 5px 0 10px 0;
}

.ticket-system a{
    float: left;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    color: #000;
    font-family: 'Roboto', sans-serif;
    background: #a7b0ae;
    background: -moz-linear-gradient(top,  #a7b0ae 0%, #979ba3 50%, #8d929a 50%, #9398a0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7b0ae), color-stop(50%,#979ba3), color-stop(50%,#8d929a), color-stop(100%,#9398a0));
    background: -webkit-linear-gradient(top,  #a7b0ae 0%,#979ba3 50%,#8d929a 50%,#9398a0 100%);
    background: -o-linear-gradient(top,  #a7b0ae 0%,#979ba3 50%,#8d929a 50%,#9398a0 100%);
    background: -ms-linear-gradient(top,  #a7b0ae 0%,#979ba3 50%,#8d929a 50%,#9398a0 100%);
    background: linear-gradient(to bottom,  #a7b0ae 0%,#979ba3 50%,#8d929a 50%,#9398a0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7b0ae', endColorstr='#9398a0',GradientType=0 );
    border: 0;
    border-radius: 3px;
    padding: 6px 28px 6px 10px;
    outline: 0;
    margin: 0px;
    position: relative;
}

.arrow-down{
    width: 9px;
    height: 5px;
    background: url('../img/sprite.png') no-repeat -38px -96px;
    display: block;
    position: absolute;
    top: 12px;
    right: 10px;
    z-index: 1;
}

.system-select{
    display: none;
    background: #65696d;
    border-radius: 0 0 3px 3px;
    padding: 10px 10px 5px 10px;
    float: left;
    width: 100%;
}

.system-select label{
    font-size: 11px;
    font-weight: 400;
    float: left;
    width: 50%;
    margin: 0 0 5px 0;
    font-family: 'Roboto', sans-serif;
}

.system-select label input[type='checkbox']{
    margin: 0;
    float: left;
}

.system-select label .system-txt{
    margin: 1px 0 0 4px;
    float: left;
}

.ticket-system.active .system-select{
    display: block;
}

.ticket-system.active .arrow-down{
    background-position: -38px -111px;
}

.stakes{
    float: left;
    width: 100%;
}

.stakes .stake-single{
    float: left;
    width: 100%;
    margin: 0 0 5px 0;
}

.stakes .stake-single .stake-txt{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 11px;
    color: #000;
    float: left;
    margin: 6px 0 0 0;
}

.stakes .stake-single input[type='number']{
    float: right;
    width: 120px;
    padding: 1px 0 0 8px;
    border: 1px solid #363636;
}

input[type=number]::-webkit-inner-spin-button{
    opacity: 0.5;
}

.action-btn-holder{
    float: left;
    width: 230px;
    margin: 0 -10px 0 -10px;
    padding: 10px 10px 0px 10px;
    border-top: 1px solid #454746;
}

.action-btn-holder button{
    min-width: 95px;
    max-width: 95px;
}

/* eof ticket sidebar */


/* eof sidebar */


/* casino */

.casino-type-btns{
    float: left;
    width: 100%;
    margin: 0 0 15px 0;
    padding-left: 5px;
}

.casino-type-btns a{
    text-transform: uppercase;
    float: left;
    margin: 0 7px 0 0;
}

.casino-game{
    width: 184px;
    float: left;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid #fff;
    background: #1f2930;
}

.casino-game img{
    float: left;
    width: 100%;
    border-radius: 3px 3px 0 0;
}

.casino-txt{
    float: left;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    font-size: 11px;
    font-weight: 500;
}

.casino-game-name{
    float: left;
    width: 100%;
    color: #fff;
    margin: 0 0 2px 0;
}

.casino-play{
    float: left;
    width: 100%;
    color: #247916;
    text-transform: uppercase;
}

.casino-game:hover{
    background: #3a4c59;
}

.casino-game:hover img{
    opacity: 0.9;
}

/* eof casino */


/* login and register */

.login-wrapper, .register-wrapper{
    border-top: 1px solid #5c6268;
    color: #fff;
    float: left;
    width: 100%;
    padding: 12px;
}

.login, .register{
    margin: 70px auto 0 auto;
    width: 280px;
}

.barcode-wrapper{
    float: left;
    width: 100%;
    margin: 0 0 15px 0;
}

.serial-no{
    float: left;
}

.barcode{
    float: right;
}

.member-login input[type="text"], .voucher-login input[type="text"], .register input[type="text"],.register input[type="password"]{
    float: left;
    width: 185px;
    margin-bottom: 15px;
}

.hide-entry{
    float: left;
    margin: 7px 0 0 10px;
}

.hide-entry  input[type="checkbox"]{
    margin: 0 4px 0 0;
    float: left;
}

.hide-entry span{
    float: left;
}

.login-btns{
    float: left;
    width: 185px;
    margin: 0;
}

.login-btns .btn-gray{
    min-width: 87px;
    max-width: 87px;
    text-align: center;
}

.register-label{
    float: left;
    width: 100%;
    margin: 0 0 4px 0;
}

.register-info{
    float: left;
    color: #c6ccde;
    margin: 0 0 0 8px;
    font-size: 10px;
}

.terms{
    float: left;
    margin: 20px 0 0 0;
}

.terms  input[type="checkbox"]{
    margin: 0 4px 0 0;
    float: left;
}

.terms a{
    color: #0c5892;
}

.terms a:hover{
    color: #fff;
}

.register-btn{
    margin: 15px 0 0 0;
    width: 185px;
}

/* eof login and register */





/* footer */

.footer{
    float: left;
    width: 100%;
    background: #171d22;
    height: 52px;
}

.footer-links-wrapper{
    float: left;
    width: 815px;
}

.footer-links{
    float: left;
    width: 100%;
    background: #747c81;
    background: -moz-linear-gradient(top,  #747c81 0%, #535d65 50%, #535d65 50%, #434e57 50%, #4f5961 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#747c81), color-stop(50%,#535d65), color-stop(50%,#535d65), color-stop(50%,#434e57), color-stop(100%,#4f5961));
    background: -webkit-linear-gradient(top,  #747c81 0%,#535d65 50%,#535d65 50%,#434e57 50%,#4f5961 100%);
    background: -o-linear-gradient(top,  #747c81 0%,#535d65 50%,#535d65 50%,#434e57 50%,#4f5961 100%);
    background: -ms-linear-gradient(top,  #747c81 0%,#535d65 50%,#535d65 50%,#434e57 50%,#4f5961 100%);
    background: linear-gradient(to bottom,  #747c81 0%,#535d65 50%,#535d65 50%,#434e57 50%,#4f5961 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#747c81', endColorstr='#4f5961',GradientType=0 );
}

.footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li{
    float: left;
}

.f-separator{
    color: #fff;
    margin: 0 5px;
    padding: 6px 0;
}

.footer-links ul li a{
    color: #fff;
    padding: 6px 12px;
    float: left;
    font-size: 10px;
}

.footer-links ul li a:hover{
    text-decoration: underline;
}

.copyright{
    color: #aab2be;
    font-size: 10px;
    font-weight: 400;
    padding: 7px 10px 0px 10px;
    float: left;
}

.payment-methods{
    float: left;
    width: 230px;
}

/* eof footer */









